@import '../variables.scss';

.input-component {
    position: relative;
    
    &__wrapper {
        position: relative;
    }

    &__suggestions {
        position: absolute;
        top: 42px;
        z-index: 999;
    
        width: 100%;
    
        background-color: #fff;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;

    }

    &__suggestion {
        background-color: #fff;
        padding: .5rem .5rem;

        transition: background-color .2s ease-in-out;
        
        &:last-child {
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
        }
        
        &:hover {
            cursor: pointer;
            background-color: #adadad48;
        }
    }

    .label-form {
        pointer-events: none;

        position: absolute;

        color: #adadad;
        font-size: .75rem;

        top: 26%;
        left: 4%;

        margin: 2.5% 0 0;

        z-index: 2;

        // transition: font-size .1s ease-in-out;

        &.moved {
            font-size: .5rem;
            margin: -1%;
        }


        .required {
            color: #c20000;
        }
    }

    input {
        position: relative;
        z-index: 1;

        width: 100%;

        border: 2px solid #fff;//$theme-light;
        box-shadow: 0 0px 10px rgba(0, 0, 0, 0.08);
        border-radius: $border-radius;
        outline: none;
        background-color: #fff;

        padding: 15px 10px 10px;
        margin: 5px 0;

        transition: border-color .5s ease-in-out;

        &:focus-visible {
            // border-color: $theme-dark;
        }
    }

    .error,
    .warn,
    .info {
        
    }

    .error {
        color: $error;
    }

    .warn {
        color: $warn;
    }

    .info {
        color: $info;
    }
}