$theme-darken: #151920;
$theme-dark: #222831;
$theme-grey: #393E46;

$theme-darken-color: #005f64;
$theme-dark-color: #7CF5FF;
$theme-color: #C6E7FF;

$theme-light: #D4F6FF;

$dark-error: #ff000078;
$error: #ff0000bd;

$dark-warn: #eda80f96;
$warn: #ffae00;

$dark-info: #0065ff57;
$info: #0059ffa9;

$border-radius: 10px;